<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.forum.engineer.mapper.UserMapper">

<!--    <select id="getContractList" resultType="com.robin.pojo.Contract">-->
<!--        select * from MiniERP.Contract-->
<!--    </select>-->

    <insert id="addUser" parameterType="com.forum.engineer.pojo.User">
        insert into engineerForum.User(id, name, phone, email, password, joinTime, lastLogin) values
        (#{id}, #{name}, #{phone}, #{email}, #{password}, #{joinTime}, #{lastLogin})
    </insert>

<!--    <select id="getContractById" resultType="com.robin.pojo.Contract">-->
<!--        select * from MiniERP.Contract where id = #{id}-->
<!--    </select>-->


</mapper>
